/* **************** HEADER **************** */


.header {
    height: auto;
    grid-area: hd;
    text-align: center;
    color: blue;
    margin: 5px;
    width: auto;
}

.titleHeader {
    font-size: 40px;
    padding: 5px;
}