/* **************** HEADER **************** */


.header {
    grid-area: hd;
    text-align: center;
    color: blue;
    width: auto;
}

.titleHeader {
    font-size: 50px;
    padding: 5px;
}

/* **************** NAV **************** */


.navTopBar {
    grid-area: nv;
    background-image: linear-gradient(to top left, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 30%, rgba(0, 0, 0, 0));
}

.button {
    border: 0;
    line-height: 2.5;
    padding: 12px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    color: white;
    background-image: linear-gradient(to top left, rgba(0, 0, 0, .0), rgba(0, 0, 0, .2) 30%, blue);


    .button:hover {
        background-color: rgba(255, 0, 0, 1);
        color: white;
    }

    .button:active {
        box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
            inset 2px 2px 3px rgba(0, 0, 0, .6);
    }