/* **************** HEADER **************** */


.header {
    height: auto;
    grid-area: hd;
    text-align: center;
    color: blue;
    margin: 5px;
    width: auto;
}

.titleHeader {
    font-size: 50px;
    padding: 5px;
}

/* **************** NAV **************** */


.navTopBar {
    grid-area: nv;
    background-color: cornflowerblue;
    padding: 5px;
    list-style-type: none;
    font-size: medium;
    text-align: center;
    padding: 10px;
}

.button {

    background-color: white;
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.button:hover {
    background-color: whitesmoke;
    border: 1px solid blue;
}