/* **************** @MEDIA SCREEN **************** */


/* Mobile I */
@media (min-width: 320px) {
    .container {
        display: grid;
        height: auto;
        grid-template-columns: 310;
        grid-template-areas:
            "hd"
            "nv"
            "main"
            "ft";
    }
}

/* Mobile II */
@media (min-width: 480px) {
    .container {
        display: grid;
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr;
        grid-template-areas:
            "hd"
            "nv"
            "main"
            "ft";
    }
}

@media (min-width: 600px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        grid-template-areas:
            "hd hd hd hd hd hd hd hd"
            "nv nv nv nv nv nv nv nv"
            "main main main main main main main main"
            "ft ft ft ft ft ft ft ft";
    }
}

/* Large Screens */
@media (min-width: 1101px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 200px auto auto;
        grid-template-areas:
            "hd hd hd hd hd hd hd hd"
            "nv nv nv nv nv nv nv nv"
            "main main main main main main main main"
            "ft ft ft ft ft ft ft ft";
    }
}