/* **************** body **************** */

body {
    background: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    text-decoration: none;
}

h4 {
    display: block;
    font-size: 1em;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
}

h5 {
    display: block;
    font-size: .83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
}

h6 {
    display: block;
    font-size: .67em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    margin-left: 0;
    margin-right: 0;
}

p {
    font-size: 14px;
}

/* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: violet;
}

/* mouse over link */
a:hover {
    color: orangered;
}

/* selected link */
a:active {
    color: blue;
}

/* **************** HEADER **************** */

.header {
    height: auto;
    grid-area: hd;
    text-align: center;
    color: blue;
    margin: 5px;
    width: auto;
}

.titleHeader {
    font-size: 40px;
    padding: 5px;
}


/* **************** NAV **************** */


.navTopBar {
    grid-area: nv;
    background-color: cornflowerblue;
    padding: 5px;
    list-style-type: none;
    font-size: medium;
    text-align: center;
    padding: 10px;
}


/* **************** MAIN - CONTENT - GRID **************** */


.container {
    grid-area: main;
}

.mainContentTitle {
    text-align: center;
    margin: 10px;
}

.mainContentIntro {
    padding: 5px;
    text-align: center;
    background-color: rgb(110, 208, 253);
    color: darkslategrey;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.grid {
    padding: 10px;
    display: grid;
    width: auto;
    grid-gap: 15px;
    grid-template-columns: auto;
    background-color: #fff;
    color: #444;
}

.grid>article {
    border-radius: 10px;
    border: 1px solid gainsboro;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.textGrid {
    padding: 0 20px 20px;
}

.text>button {
    padding: 1px;
    width: 100%;
}

.postBoxCol {
    float: left;
    -webkit-columns: 2;
    /* Safari and Chrome */
    -moz-columns: 2;
    /* Firefox */
    columns: 2;
    /* CSS3 */
}

.img {
    margin: 5px;
}

.postImgHeader {
    border-radius: 10px;
    border: 1px solid gainsboro;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}


/* **************** FOOTER **************** */


.footer {
    grid-area: ft;
}

.footerBox {
    width: auto;
    text-align: center;
    width: auto;
    height: auto;
}


/* **************** @MEDIA SCREEN **************** */


/* Mobile I */
@media (min-width: 320px) {
    .container {
        display: grid;
        height: auto;
        grid-template-columns: 310px;
        grid-template-rows: auto auto 1fr;
        grid-template-areas:
            "hd"
            "nv"
            "main"
            "ft";
    }
}

/* Mobile II */
@media (min-width: 480px) {
    .container {
        display: grid;
        height: auto;
        grid-template-columns: 450px;
        grid-template-rows: auto auto 1fr;
        grid-template-areas:
            "hd"
            "nv"
            "main"
            "ft";
    }
}

@media (min-width: 600px) {
    .container {
        display: grid;
        height: auto;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "hd hd hd hd hd hd hd hd"
            "nv nv nv nv nv nv nv nv"
            "main main main main main main main main"
            "ft ft ft ft ft ft ft ft";
    }
}

/* Large Screens */
@media (min-width: 1101px) {
    .container {
        width: 100%;
        height: auto;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "hd hd hd hd hd hd hd hd"
            "nv nv nv nv nv nv nv nv"
            "main main main main main main main main"
            "ft ft ft ft ft ft ft ft";
    }
}